In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=b2f598ade40c55c05ca5730cab3d89881f10e95d7dfc4fcaaf08f6db35d8d2be
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [4]:
employees = [("Bob", 42, 'IT', 2000),
           ("Lisa", 59,  'Finance', 3000),
           ("Diane", 20,  'IT', 5000),
           ("Janet", 60,  'Finance', 7000),
            ("Calvin", 26, 'IT', 4000),
           ("Elena", 24,  'Finance', 6000),
           ("Bill", 50,  'IT', 1000),
          ("Dawn", 33,  'Finance', 8000)]


col = ['first_name', 'age', 'deptartment', 'salary']

employeesdf = spark.createDataFrame(data = employees,schema = col)

employeesdf.show()
employeesdf.printSchema()

+----------+---+-----------+------+
|first_name|age|deptartment|salary|
+----------+---+-----------+------+
|       Bob| 42|         IT|  2000|
|      Lisa| 59|    Finance|  3000|
|     Diane| 20|         IT|  5000|
|     Janet| 60|    Finance|  7000|
|    Calvin| 26|         IT|  4000|
|     Elena| 24|    Finance|  6000|
|      Bill| 50|         IT|  1000|
|      Dawn| 33|    Finance|  8000|
+----------+---+-----------+------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)

In [6]:
from pyspark.sql.functions import lit,current_timestamp

employeesdf = employeesdf.withColumn("percentage_increase",lit(10)) \
                    .withColumn("current_time", current_timestamp())
employeesdf.show(truncate=False)
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+-------------------------+
|first_name|age|deptartment|salary|percentage_increase|current_time             |
+----------+---+-----------+------+-------------------+-------------------------+
|Bob       |42 |IT         |2000  |10                 |2024-10-11 17:05:34.57484|
|Lisa      |59 |Finance    |3000  |10                 |2024-10-11 17:05:34.57484|
|Diane     |20 |IT         |5000  |10                 |2024-10-11 17:05:34.57484|
|Janet     |60 |Finance    |7000  |10                 |2024-10-11 17:05:34.57484|
|Calvin    |26 |IT         |4000  |10                 |2024-10-11 17:05:34.57484|
|Elena     |24 |Finance    |6000  |10                 |2024-10-11 17:05:34.57484|
|Bill      |50 |IT         |1000  |10                 |2024-10-11 17:05:34.57484|
|Dawn      |33 |Finance    |8000  |10                 |2024-10-11 17:05:34.57484|
+----------+---+-----------+------+-------------------+-------------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [8]:
employeesdf = employeesdf.withColumn("percentage_increase",lit(10))
employeesdf = employeesdf.withColumn("current_time", current_timestamp())
employeesdf.show(truncate=False)
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------------+
|first_name|age|deptartment|salary|percentage_increase|current_time              |
+----------+---+-----------+------+-------------------+--------------------------+
|Bob       |42 |IT         |2000  |10                 |2024-10-11 17:07:56.120994|
|Lisa      |59 |Finance    |3000  |10                 |2024-10-11 17:07:56.120994|
|Diane     |20 |IT         |5000  |10                 |2024-10-11 17:07:56.120994|
|Janet     |60 |Finance    |7000  |10                 |2024-10-11 17:07:56.120994|
|Calvin    |26 |IT         |4000  |10                 |2024-10-11 17:07:56.120994|
|Elena     |24 |Finance    |6000  |10                 |2024-10-11 17:07:56.120994|
|Bill      |50 |IT         |1000  |10                 |2024-10-11 17:07:56.120994|
|Dawn      |33 |Finance    |8000  |10                 |2024-10-11 17:07:56.120994|
+----------+---+-----------+------+-------------------+--------------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [9]:
from pyspark.sql.functions import col
employeesdf = employeesdf.withColumn("salary", col("salary") + (col("salary")* (col("percentage_increase") * 0.01)))
employeesdf.show(truncate=False)
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------------+
|first_name|age|deptartment|salary|percentage_increase|current_time              |
+----------+---+-----------+------+-------------------+--------------------------+
|Bob       |42 |IT         |2200.0|10                 |2024-10-11 17:09:26.932728|
|Lisa      |59 |Finance    |3300.0|10                 |2024-10-11 17:09:26.932728|
|Diane     |20 |IT         |5500.0|10                 |2024-10-11 17:09:26.932728|
|Janet     |60 |Finance    |7700.0|10                 |2024-10-11 17:09:26.932728|
|Calvin    |26 |IT         |4400.0|10                 |2024-10-11 17:09:26.932728|
|Elena     |24 |Finance    |6600.0|10                 |2024-10-11 17:09:26.932728|
|Bill      |50 |IT         |1100.0|10                 |2024-10-11 17:09:26.932728|
|Dawn      |33 |Finance    |8800.0|10                 |2024-10-11 17:09:26.932728|
+----------+---+-----------+------+-------------------+--------------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [11]:
employeesdf = employeesdf.withColumn("salary", col("salary").cast("Integer"))
employeesdf.show(truncate=False)
employeesdf.printSchema()

+----------+---+-----------+------+-------------------+--------------------------+
|first_name|age|deptartment|salary|percentage_increase|current_time              |
+----------+---+-----------+------+-------------------+--------------------------+
|Bob       |42 |IT         |2200  |10                 |2024-10-11 17:11:09.651451|
|Lisa      |59 |Finance    |3300  |10                 |2024-10-11 17:11:09.651451|
|Diane     |20 |IT         |5500  |10                 |2024-10-11 17:11:09.651451|
|Janet     |60 |Finance    |7700  |10                 |2024-10-11 17:11:09.651451|
|Calvin    |26 |IT         |4400  |10                 |2024-10-11 17:11:09.651451|
|Elena     |24 |Finance    |6600  |10                 |2024-10-11 17:11:09.651451|
|Bill      |50 |IT         |1100  |10                 |2024-10-11 17:11:09.651451|
|Dawn      |33 |Finance    |8800  |10                 |2024-10-11 17:11:09.651451|
+----------+---+-----------+------+-------------------+--------------------------+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- deptartment: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- percentage_increase: integer (nullable = false)
 |-- current_time: timestamp (nullable = false)

In [14]:
from pyspark.sql.functions import when
employeesdf = employeesdf.withColumn('deptartment', when(employeesdf['deptartment'] == "IT",
                 "Information Technology").otherwise(employeesdf['deptartment']))
employeesdf.show(truncate=False)

+----------+---+----------------------+------+-------------------+--------------------------+
|first_name|age|deptartment           |salary|percentage_increase|current_time              |
+----------+---+----------------------+------+-------------------+--------------------------+
|Bob       |42 |Information Technology|2200  |10                 |2024-10-11 17:14:22.785647|
|Lisa      |59 |Finance               |3300  |10                 |2024-10-11 17:14:22.785647|
|Diane     |20 |Information Technology|5500  |10                 |2024-10-11 17:14:22.785647|
|Janet     |60 |Finance               |7700  |10                 |2024-10-11 17:14:22.785647|
|Calvin    |26 |Information Technology|4400  |10                 |2024-10-11 17:14:22.785647|
|Elena     |24 |Finance               |6600  |10                 |2024-10-11 17:14:22.785647|
|Bill      |50 |Information Technology|1100  |10                 |2024-10-11 17:14:22.785647|
|Dawn      |33 |Finance               |8800  |10                 |2024-10-11 17:14:22.785647|
+----------+---+----------------------+------+-------------------+--------------------------+

In [15]:
employeesdf = employeesdf.withColumnRenamed("percentage_increase","bonus_percentage")

employeesdf.show(truncate=False)

+----------+---+----------------------+------+----------------+--------------------------+
|first_name|age|deptartment           |salary|bonus_percentage|current_time              |
+----------+---+----------------------+------+----------------+--------------------------+
|Bob       |42 |Information Technology|2200  |10              |2024-10-11 17:15:18.528571|
|Lisa      |59 |Finance               |3300  |10              |2024-10-11 17:15:18.528571|
|Diane     |20 |Information Technology|5500  |10              |2024-10-11 17:15:18.528571|
|Janet     |60 |Finance               |7700  |10              |2024-10-11 17:15:18.528571|
|Calvin    |26 |Information Technology|4400  |10              |2024-10-11 17:15:18.528571|
|Elena     |24 |Finance               |6600  |10              |2024-10-11 17:15:18.528571|
|Bill      |50 |Information Technology|1100  |10              |2024-10-11 17:15:18.528571|
|Dawn      |33 |Finance               |8800  |10              |2024-10-11 17:15:18.528571|
+----------+---+----------------------+------+----------------+--------------------------+